.editTitle {
    align-self: center;
    justify-self: center;
    padding-top: 500px;
}

.editField {
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 10px;
}

.editField-Footer {
    display:flex;
    justify-content: space-between;
}

.characterCount {
    padding-left: 600px;
    font-size: larger;
}

.footButtons{
    padding-right: 600px;
}

.saveButton {
    border: none;
    padding: 5px 10px 5px 10px;
}

.saveButton:hover{
    transform: scale(1.20);
    position:relative;
    z-index:5;
    opacity: 1.0;
    cursor: pointer;
}
