.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.2px solid lightgray;
    background-color: lightblue;
    width: 100%;
    z-index: 999;
}

.left-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 400px;
}


.right-header {
    display: flex;
}

.headerButtons {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    color: grey;
    cursor: pointer; 
    margin-top: 10px;
    margin-left: 20px;
}

.headerButtons:hover {
    color: black;
}

.searchIcon {
    color: black;
}

.header_search input {
    border: none;
    background-color: rgb(233, 233, 233);  
}

.header_search {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;

}

.header_search input:focus {
    outline: none;
}


