.searchIcon {
    color: black;
}

.header_search input {
    border: none;
    background-color: rgb(233, 233, 233);  
}

.header_search {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;

}

.header_search input:focus {
    outline: none;
}

.left-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 400px;
}