.slPlanner{
    padding-left: 850px;
    display:flex;
    align-items: center;
    border: double;
    border-radius: 10px;
}

.fromInput input {
    border: none;
    background-color: rgb(233, 233, 233);  
}

.fromInput {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    resize: none;

}

.fromInput input:focus {
    outline: none;
}


.toInput input {
    border: none;
    background-color: rgb(233, 233, 233);  
}

.toInput {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    resize: none;

}

.toInput input:focus {
    outline: none;
}