.notes {
    padding-left: 40em;
    padding-top: 1rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 250px);
}

.add-button {
    margin: 20px;
    display:block;
    height:220px;
    width:220px;
    border-radius: 25px;
    border: none;
    outline: none;
    background:rgb(204, 222, 255);
    cursor: pointer;
    font-size: 200px;
    color: rgba(0, 0, 0, 0.5)   
}

.boxButtons {
    padding-left: 130px;
    padding-top: 50px;
}

