.box {
    margin: 20px;
    font-family: 'Lato';
    background:#666;
    color:#fff;
    text-decoration:none;
    color:#000;
    background:rgb(204, 222, 255);
    display:block;
    height:10em;
    width:10em;
    padding:2em;
    border-radius: 25px;
    cursor: pointer;
    resize: none; 
}

.box:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.05);
    position:relative;
    z-index:5;
}

.add-button {
    margin: 20px;
    display:block;
    height:220px;
    width:220px;
    border-radius: 25px;
    border: none;
    outline: none;
    background:rgb(204, 222, 255);
    cursor: pointer;
    font-size: 200px;
    color: rgba(0, 0, 0, 0.5)
    
}

